<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="icon" href="favicon.ico?v=2">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>To-Do List</h1>
        <div class="content">
            <ul id="task-list">
                <% tasks.forEach(task=> { %>
                    <li class="task-item">
                        <div class="task-content">
                            <% if (task.task.length <=40) { %>
                                <span class="<%= task.completed ? 'completed' : '' %>">
                                    <%= task.task %>
                                </span>
                                <% } else { %>
                                    <span class="<%= task.completed ? 'completed' : '' %>">
                                        <% const maxCharactersPerLine=40; %>
                                            <% for (let i=0; i < task.task.length; i +=maxCharactersPerLine) { %>
                                                <%= task.task.slice(i, i + maxCharactersPerLine) %><br>
                                                    <% } %>
                                    </span>
                                    <% } %>
                        </div>
                        <div class="button-group">
                            <% if (!task.completed) { %>
                                <form action="/complete/<%= task.id %>" method="POST" class="form-group">
                                    <button class="complete-button" type="submit">Complete</button>
                                </form>
                                <% } %>
                                    <% if (task.completed) { %>
                                        <button class="completed-button">Completed</button>
                                        <% } %>
                        </div>
                    </li>
                    <% }); %>
            </ul>

            <form action="/add" method="POST" class="form-group">
                <input type="text" id="new-task" name="task" placeholder="New task" required>
                <button id="add-button" type="submit">Add Task</button>
            </form>
            <form action="/clear" method="POST">
                <button id="clear-button">Clear All</button>
            </form>
        </div>
    </div>
</body>
</html>